/* CTA FINAL */
.cta {
  text-align: center;
  padding: 90px 30px;
  background: linear-gradient(135deg, var(--bg-dark), var(--accent));
  color: var(--text-light);
}
.cta h2 {
  margin-bottom: 16px;
  color: var(--text-light);
}
.cta p {
  margin-bottom: 34px;
  color: var(--text-light);
}


/* MOBILE */
@media (max-width: 768px) {

  .cta {
    padding: 70px 24px;
  }
}

