
/* Contenido principal */
.contacto-content-top {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .contacto-content-top {
    grid-template-columns: 1fr;
    gap: 40px;
}

}
