@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Lato:wght@300;400;700&display=swap');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --text-light: #f4f3ec;
  --bg: #fff;
  --bg-dark:#7742a0;
  --bg-gray: #98949e;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #6920a1;
  --btn-hover: #8f2ed9;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Lato', system-ui, sans-serif;
  --heading: 'Lato', system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden; 
}
main,
.header-container,
.footer-container {
  max-width: 1126px;
  margin: 0 auto;
  width: 100%;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
}


h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 38px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 38px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 32px;
  }
}

p {
  margin: 0;
}


/* CTA  */
.cta {
  text-align: center;
  padding: 60px 20px;
  background: var(--bg-dark);
  color: var(--text-light);
}

.cta h2 {
  margin-bottom: 16px;
  color: var(--text-light);
}

.cta p {
  margin-bottom: 30px;
  font-size: 18px;
}
.cta-button {
  display: inline-block;
  padding: 16px 32px;
  background-color: var(--code-bg);
  color: var(--accent);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  transition: transform 0.2s, background-color 0.2s;
}

.cta-button:hover {
  background-color: var(--btn-hover);
  color: var(--code-bg);
  transform: translateY(-2px);
}

/* WHATSAPP BTN */
.whatsapp-button {
  display: inline-block;
  padding: 16px 32px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  transition: transform 0.2s, background-color 0.2s;
}

.whatsapp-button:hover {
  background-color: #20bd5a;
  transform: translateY(-2px);
}


/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  padding: 40px 40px;
  background: linear-gradient(
     135deg,
    var(--bg-dark) 0%,
    var(--accent) 30%,
    var(--code-bg) 30%,
    var(--bg) 100%
  );
  overflow: hidden;
}
.hero-content h1 {
  font-size: 52px;
  line-height: 1.1;
  color: var(--text);
  max-width: 500px;
  margin-bottom: 24px;
}
.hero-content h2 {
  font-size: 28px;
  line-height: 1.1;
  color: var(--text);
  max-width: 500px;
  margin-bottom: 24px;
}
.hero-content p {
  color: var(--text);
}
.hero-image-wrapper img {
  width: 100%;
  max-width: 380px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.2);
}

@media (max-width: 1024px) {

  .hero-image {
    width: 250px;
    height: 250px;
  }

  .home {
    gap: 60px;
  }
}
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 100px;
  }

  .hero-content h1 {
    margin: 0 auto;
  }
  .hero-image {
    height: 250px ;
  }

  .hero-image-wrapper {
    order: -1;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 40px 15px;
  }

  .hero-image {
    height: 200px;
  }

  .cta-button,
  .whatsapp-button {
    padding: 14px 24px;
    font-size: 16px;
  }
}